body{
  background-color: #fcde67;
  font-family:'Gill Sans MT';
  font-size: 18px;
}

#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1000px;
  border-right: 3px solid #5bccf6;
  border-left: 3px solid #5bccf6;
  margin: 0 auto;
  height: 100px;
  overflow: hidden;
}

#title  h1{
  font-family: 'Lucida Grande';
  background-color: #5bccf6;
  padding: 5rem;
}

#sub-title{
  display: flex;
  flex-direction: row;
  width: 1000px;
  padding-left: 5rem;
  font-weight:lighter;
}

#suggester{
  margin-left: 4rem;
  padding-top: 1rem;
}

button{
  margin-left: 1rem;
  font-size: 20px;
  padding: 8px;
  margin-top: 6px;
  width: 10%;
}

button:hover {
  background-color: #5bccf6;
}

.forms-class{
  padding: 1rem;
}

.form-control{
  padding: 2px;
  font-size: medium;
}

#name-input{
  padding: 2px;
}

#display-cSharp, #display-ruby, #display-java, #display-message,
#display-empty-form{
  display: none;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}