body{
  background-color: #fcde67;
}

#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1000px;
  border-right: 3px solid #5bccf6;
  border-left: 3px solid #5bccf6;
  margin: 0 auto;
  height: 100px;
  overflow: hidden;
  padding: 1vh 1vw;
}

#title  h1{
  font-family: 'Lucida Grande';
  background-color: #5bccf6;
  padding: 5rem;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}